@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source './resources/js/**/*.vue';

@plugin "@tailwindcss/forms";

@layer base {
  .label {
    @apply block mb-1 font-medium text-gray-700 dark:text-gray-300;
  }

  .input {
    @apply block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500;
  }

  .input-error {
    @apply block w-full p-2 rounded-md shadow-sm text-red-500;
    margin-top: 0.5rem;
  }

  .input-filter-l {
    @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800;
  }

  .input-filter-r {
    @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-l-0 border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800;
  }

  .btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 items-center;
    text-align: center;
  }

  .btn-normal {
    @apply bg-gray-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 items-center;
    text-align: center;
  }

  .btn-outline {
    @apply p-2 rounded-md border-2 shadow-sm border-gray-300 dark:border-gray-800 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-800 px-4
  }
}
